<section id="hero" class="container mx-auto px-4 mb-[5vw]">
    <figure class="relative">
        <!-- MEDIA COVER -->
            <div class="h-full w-full overflow-hidden bg-cover">
                {% if section.settings.image != blank %}
                <img  
                    srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '2000x' }} 2000w{%- endif -%}"
                    src="{{ section.settings.image | img_url: '533x' }}"
                    sizes="(min-width: 1100px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ section.settings.image.alt | escape }}" width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}" class="min-h-[500px] sm:h-full w-auto bg-center"
                >
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
        <!-- CAPTION -->
        <figcaption class="mt-2 sm:absolute flex sm:w-2/5 w-full sm:bottom-9 sm:left-9">
            <div>
                {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'subtitle' %}
                        <p class="m-1 font-semibold sm:text-white text-black">{{ block.settings.subtitle }}</p>
                    {% when 'title' %}
                        <p class="text-3xl lg:text-7xl sm:text-white text-black" style="letter-spacing: -0.039em;line-height: 0.84; font-weight: 900;">
                            {{ block.settings.title }}
                        </p>
                    {% when 'button' %} 
                        <div class="relative z-10 mt-5">
                            {% if block.settings.button_label != blank %}
                            <a href="{{ block.settings.button_link }}" {{ block.shopify_attributes }} class="btn-primary">
                                {{ block.settings.button_label | escape }}
                            </a>
                            {% endif %}
                        </div>
                {% endcase %}
                {% endfor %}
            </div>
        </figcaption>
    </figure>
</section>

{% schema %}
{
    "name": "Hero",
    "settings": [
        {
            "type":"image_picker",
            "id":"image",
            "label":"Hero image"
        }
    ],
    "blocks":[
	   {
		  "type":"title",
		  "name":"Title",
		  "limit":1,
		  "settings":[
			 {
				"type":"text",
				"id":"title",
				"label":"Title",
				"default":"Title"
			 }
		  ]
	   },
       {
            "type":"subtitle",
            "name":"Subtitle",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"subtitle",
                    "label":"Subtitle",
                    "default":"Subtitle"
                }
            ]
        },
        {
            "type":"button",
            "name":"Button",
            "limit":1,
            "settings":[
               {
                  "type":"text",
                  "id":"button_label",
                  "default":"Button label",
                  "label":"Button label"
               },
               {
                  "type":"url",
                  "id":"button_link",
                  "label":"Link"
               }
            ]
        }
    ],
    "presets":[
	   {
		  "name":"Hero",
		  "blocks":[
			 {
				"type":"subtitle"
			 },
			 {
				"type":"title"
			 },
			 {
				"type":"button"
			 }
		  ]
	   }
	]
}
{% endschema %}