<section id="hero" class="container mx-auto px-4 mb-[5vw]">
    <figure class="relative">
        <!-- MEDIA COVER -->
            <div class="h-full w-full overflow-hidden bg-cover">
                {% if section.settings.image != blank %}
                <img  
                    src="{{ section.settings.image | img_url: 'master' }}"
                    alt="{{ section.settings.image.alt | escape }}"
                    class="h-[500px] sm:h-full w-auto bg-center"
                >
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
        <!-- CAPTION -->
        <figcaption class="mt-2 sm:absolute flex sm:w-2/5 w-full sm:bottom-9 sm:left-9">
            <div>
                {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'subtitle' %}
                        <p class="m-1 font-semibold sm:text-white text-black">{{ block.settings.subtitle }}</p>
                    {% when 'title' %}
                        <p class="text-3xl lg:text-7xl sm:text-white text-black" style="letter-spacing: -0.039em;line-height: 0.84; font-weight: 900;">
                            {{ block.settings.title }}
                        </p>
                    {% when 'button' %} 
                        <div class="relative z-10 mt-5">
                            {% if block.settings.button_label != blank %}
                            <a href="{{ block.settings.button_link }}" {{ block.shopify_attributes }} class="btn-primary">
                                {{ block.settings.button_label | escape }}
                            </a>
                            {% endif %}
                        </div>
                {% endcase %}
                {% endfor %}
            </div>
        </figcaption>
    </figure>
</section>

{% schema %}
{
    "name": "Hero",
    "settings": [
        {
            "type":"image_picker",
            "id":"image",
            "label":"Hero image"
        }
    ],
    "blocks":[
	   {
		  "type":"title",
		  "name":"Title",
		  "limit":1,
		  "settings":[
			 {
				"type":"text",
				"id":"title",
				"label":"Title",
				"default":"Title"
			 }
		  ]
	   },
       {
            "type":"subtitle",
            "name":"Subtitle",
            "limit":1,
            "settings":[
                {
                    "type":"text",
                    "id":"subtitle",
                    "label":"Subtitle",
                    "default":"Subtitle"
                }
            ]
        },
        {
            "type":"button",
            "name":"Button",
            "limit":1,
            "settings":[
               {
                  "type":"text",
                  "id":"button_label",
                  "default":"Button label",
                  "label":"Button label"
               },
               {
                  "type":"url",
                  "id":"button_link",
                  "label":"Link"
               }
            ]
        }
    ],
    "presets":[
	   {
		  "name":"Hero",
		  "blocks":[
			 {
				"type":"subtitle"
			 },
			 {
				"type":"title"
			 },
			 {
				"type":"button"
			 }
		  ]
	   }
	]
}
{% endschema %}